# Puerto en el que escuchará el servidor Express
PORT=3000

# Configuración del servidor SMTP (Ejemplo Hostinger)
# En Hostinger suele ser smtp.hostinger.com y el puerto 465 (SSL) o 587 (TLS)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contacto@tudominio.com
SMTP_PASS=tu_contraseña_smtp_aqui

# Dirección de correo destinataria para los mensajes recibidos en el formulario
CONTACT_EMAIL=contacto@tudominio.com
